### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

# Build, dist and package files
build/
dist/
*.egg-info/
*.egg
.eggs/
parts/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Environments
.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Development tools
.idea/
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Docker ###
**/docker-compose*.yml
**/Dockerfile*
**/.dockerignore
docker-compose.override.yml
.docker/

### GitHub Actions ###
!.github/workflows/
.github/workflows/*.yaml
.github/workflows/*.yml

### System ###
.DS_Store
Thumbs.db

### Database ###
*.sqlite
*.sqlite3
*.db
*.db-journal

### Logs ###
*.log
*.log.*
logs/

### Editor ###
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Jupyter Notebook
.ipynb_checkpoints/

# PyCharm
.idea/

### Package Managers ###
# Poetry
poetry.lock

# PDM
pdm.lock
.pdm-python

# Pipenv
Pipfile.lock

# UV
uv.lock

# Pixi
.pixi/
pixi.lock

### Python Linters and Formatters ###
.pytype/
.pyre/
.mypy_cache/
.ruff_cache/

### Documentation ###
docs/_build/
site/

### Cython ###
cython_debug/